<body>
  <div class="wrapper">
    <div class="title">
       xTChat
    </div>
    <form [formGroup]="loginForm">
       <div class="field">
          <input type="text" formControlName="userName" required>
          <label>Kullanıcı Adı</label>
       </div>
       <div class="field">
          <input type="password" formControlName="password" required>
          <label>Şifre</label>
       </div>
       <div class="field">
          <input (click)="login()" [disabled]="btnDisabled" type="submit" value="Giriş Yap">
       </div>
       <div class="signup-link">
          Hesabınız yok mu? <a style="cursor: pointer;" (click)="routeRegister()">Kayıt ol</a>
       </div>
    </form>
  </div>
</body>